.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-color: white;
  width: 100%;
  max-width: 768px;
  padding: 5px 5px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 1 auto;
}

.header>* {
  margin: 0;
  padding: 0;
}



.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.routines {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}



.single-routine {
  width: 400px;
  margin: 0 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.4);
  flex: 0 1 auto;
}

.single-activity {
  width: 400px;
  margin: 0 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.4);
  flex: 0 1 auto;
}

.activities {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

}

.navbar {
  background-color: rgb(103, 182, 255);
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar button {
  color: white;
  background-color: rgb(103, 182, 255);
  font-weight: bold;
  height: 40px;
  padding: 0 20px;
  border: none;
}

.navbar .active-nav button {

  background-color: rgb(64, 148, 226);
}

.navbar button:hover {
  background-color: rgb(64, 148, 226);
  cursor: pointer;
}

.sub-navbar {
  background-color: rgb(64, 148, 226);
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.sub-navbar button {
  font-weight: 100;
  color: white;
  background-color: rgb(64, 148, 226);
  height: 40px;
  padding: 0 20px;
  border: none;

}

.new-routine {
  width: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.routine-forms {
  display: flex;
  gap: 20px;
}

.routine-header {
  display: flex;
}

.new-routine form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.new-routine-inputs {
  display: flex;
}

.new-routine-inputs .input-div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-routine-inputs input {
  width: 100%
}

.new-routine .navbar .active-nav button {
  background-color: rgb(64, 148, 226);
}

#add-activity {
  background-color: lightgrey;
  padding: 10px;
}

.new-activity {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-activity form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sub-navbar .active-nav button {
  font-weight: bold;
}

.routine-activities {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.routine-activities :nth-child(odd) {
  background-color: lightgrey;
}

.routine-activities>* {
  padding: 5px;
}


.login form {
  text-align: center;
  width: 300px;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

.login input {
  padding: 10px;
}

.login form button {
  font-size: 20px;
  color: white;
  background-color: rgb(103, 182, 255);
  border: none;
  padding: 10px;
}

.login form button:hover {
  background-color: rgb(64, 148, 226);
  cursor: pointer;
}

.login p {
  margin: 0;
}

a:hover {
  color: orangered;
  cursor: pointer;
}